html {margin-left: 10%;}
body {background-color: #EEE; font-size: 102%;}
h1.page-title {color: #444; margin-top: 5%;}
h2.release-title {color: #444; font-size: 125%;}
a, a:visited {color: #00C;}
a:hover {color: #090;}

.issue-line {
  margin: 3px 0;
}

.label {
  padding: 2px 5px; 
  margin: 0 3px; 
  border-radius: 3px; 
  color: #FFF; 
  font-size: 70%;
  font-weight: bold;
  font-family: Century Gothic, sans-serif;
}
.issue-title {
  color: #666; 
  margin-left: 3px; 
  padding: 0 5px;
  cursor: pointer;
}

.issue-body pre {
  width: 70%;
  margin: 5px;
}

.usr-img {width: 80px; height: 80px;}